<p>Bonjour,</p>

<p>Nous vous avons généré <b>un nouveau mot de passe</b> : {{password}}.</p>

<p>Une fois connecté(e), n'oubliez pas de changer le mot de passe en vous rendant dans votre compte dans l'onglet <b>Paramètres</b>.</p>

<p>A très bientôt,</p>

<p>L'équipe <b style="color: orange;">Mandareen</b></p>
